/*Import the fonts used*/
@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans:400,800&display=swap');

body {
  font: 20px Helvetica, sans-serif; color: #333;
  font-size: 1.6rem;
  text-align: center;
  /* width: 90%; */
  /* padding: 150px; */
}

.container{
  width: 100%;
  /* max-width: 120rem; */
  /* padding: 0 1.5rem; */
  /* margin: 0 auto; */
}

hero {
  width: 100%;
  height: 100vh;
  background: url("./images/hero_background.jpg") center no-repeat;
  background-size: cover;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  z-index: 0;
}

h1 {
  font-size: 4.3rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  width: 50%;
  /* margin: 12 auto; */
  padding: 0;
  /* display: block; */
  text-align: left;
}

article {
  display: contents;
  text-align: left;
  position: center;
  width: 50%;
  margin: center;
  padding: 0 auto;
}

a {
  color: #dc8100; text-decoration: none;
}

a:hover {
  color: #333; text-decoration: none;
}

/* Media queries */
@media screen and (min-width: 768px){

  /* Hero section styles */
  .title{
      font-size: 8rem;
  }
}

@media screen and (min-width: 1000px){
  .container{
    padding: 10rem 0;
  }

  /* Hero section styles */
  .title{
    font-size: 12rem;
  }
}

@media screen and (min-width: 1200px){
  .container {
    flex: 0 0 30%;
  }
}
